/********************
IMPORTS
*******************/

@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');

/********************
YOUR STYLES
*******************/

/*new BG backdrop*/
.lg-backdrop{
    
    background: aquamarine;
}

.lg-image{
    
    border-radius: 4px;
    box-shadow: 0 0 8px white;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}